[submodule "external/econdb"]
	path = external/econdb
	url = git@github.com:autotm-team/EconDB.git
[submodule "external/asyncron"]
	path = external/asyncron
	url = git@github.com:autotm-team/asyncron.git
